.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.loginTitle {
  display: flex;
  margin-top: 3em;
  font-size: 2em;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

.loginInput {
  display: flex;
  flex-direction: column;
}

.loginInput input {
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.625rem 0.815rem;
}

.emailLoginInput {
  margin-top: .5rem;
}

.passwordLoginInput {
  margin-top: 1.5rem;
}

.forgotPassword {
  display: flex;
  margin-top: 0.75rem;
  font-size: 1rem;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-around;
}



.buttonSection button {
  font-size: 1rem;
  padding: 0.75rem 0.815rem;
  border-radius: 0.5rem;
}

.loginButton {
  background: rgba(66, 157, 243, 0.9);
  color: #fff;
  border: 0px;
  box-shadow: 0px 0px 1px 1px rgba(66, 157, 243, 0.9);
}

.registerButton {
  background: #ef4961;
  color: #fff;
  border: 0px;
  box-shadow: 0px 0px 1px 1px #ef4961;
}

.errorMsg {
  color: red;
  font-style: italic;
  margin: 0 .5rem;
}